.navbar-brand{
	text-align: center;
}

.panel-default{
	margin-left: 20px;
	margin-right: 20px;
}

.alert{
	margin-left: 20px;
	margin-right: 20px;
}

.link-panel{
	float: right;
	color: black;
	padding: 0px;
	
	
}

.titulo-panel{
	float: left;
	padding-top: 2px;
}